@{
    ViewData["Title"] = "Login - Confirmation Reset";
    Layout = "_AccountLayout";
}

<div class="wrapper">
    <h2>@ViewData["Title"]</h2>

    @if (ViewBag.Message != null)
    {
        <p style="color:red;">@ViewBag.Message</p>
    }

    <div>
        <a class="btn-send" href="@Url.Action("Login", "Account")">Return Login</a>
    </div>
</div>