@model Intranet.Web.Models.admUser
@{
    ViewBag.Title = "Edit User Information";
    var roles = ViewBag.Roles as List<Intranet.Web.Models.admRol>;
}

<div class="cont">
    <div class="cont-nvl1">
        <div class="title">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="cont-nvl3">
        <form asp-action="AdminUserEdit" method="post" class="form-reg">
            <input type="hidden" asp-for="idUser" />
            <div>
                <label>User Name</label>
                <input asp-for="nameUser" required />
            </div>
            <div>
                <label>Email</label>
                <input asp-for="mailUser" type="email" required />
            </div>
            <div>
                <label>Password</label>
                <input asp-for="passwordUser" type="password" placeholder="Enter new password or leave blank" />
            </div>
            <div>
                <label>Rol</label>
                <select asp-for="idRol" asp-items="ViewBag.RolesList" required>
                    <option value="">Select a Role</option>
                </select>
            </div>
            <button type="submit">Update User</button>

            @if (TempData["Success"] != null)
            {
                <p style="color:green;">@TempData["Success"]</p>
            }
        </form>
    </div>
</div>
